/* Native element stylings */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: max(4.5vw, 30px);
}

h2 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: max(3vw, 40px);
}

p {
  font-size: max(1.5vw, 20px);
}

/* Header which sticks to the top of the screen, and it's children */
#header {
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80pt;
  position: fixed;
  background-color: rgb(7, 55, 99);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: wrap;
}

#header-logo {
  font-size: max(4vw, 30pt);
  align-self: center;
  padding-left: 5vw;
}

/* Container of the header links for navigation and it's children */
#header-links {
  display: flex;
  width: fit-content;
  align-self: center;
  font-size: 15pt;
}

.header-link {
  padding-left: 30px;
  padding-right: 30px;
}

.header-link-link {
  text-decoration: none;
  color: inherit;
}

/* Container of the header buttons for registering interest and it's children */
#header-buttons {
  display: flex;
  align-self: center;
  padding-right: 5vw;
}

.header-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  margin-right: 1vw;
  margin-left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 15pt;
  color: white;
}

#header-button-1 {
  background-color: rgb(61, 133, 198);
  border: 2px solid rgb(61, 133, 198);
}

#header-button-2 {
  background-color: rgb(11, 83, 148);
  border: 2px solid white;
}

/* Styling for container of sections of the page and it's children */
#sections {

  display: block;
}

.section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 80pt;
}

.section-translucent-tint {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 70%;
  background-color: rgb(61, 133, 198);
  margin-top: -80pt;
}

#head-image-section {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:darkcyan;
  display: flex;
  justify-content: center;
}

#head-image-headline {
  align-self:flex-start;
  padding-top: 5vh;
  z-index: 5;
  text-align: center;
}

#head-image-subheading {
  text-align: center;
  font-size: max(3vw, 20px);
}

#what-is-bikesub-section {
  background-color: #9fc5e8;
  display: flex;
  justify-content: center;
}

#what-is-bikeshop-wrapper {
  margin-top: 40pt;
  width:55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

#what-is-bikesub-text {
  z-index: 7;
  align-items: center;
  padding-left: 30pt;
  width: inherit;
}

#what-is-bikesub-text-heading {
  color: #0b5394;
}

#what-is-bikesub-text-bold {
  font-weight: bold;
  font-size: max(1.5vw, 20px);
}




#bikesub-infographic {
  margin-top: 40pt;
  padding-bottom: 20pt;
  width: min(95vw,700pt);
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.infographic-item {
  z-index: 7;
  text-align: center;
  width: min-content;
}

.infographic-circle {
  z-index: 7;
  justify-content: center;
  display: flex;
  width: max(min(100pt, 10vw), 50pt);
  height: max(min(100pt, 10vw), 50pt);
  background-color: #0b5394;
  border-radius: 50%;
  margin-bottom: 10pt;
  margin-left: 5px;
  margin-right: 5px;
}

.infographic-icon {
  align-self: center;
  pointer-events: none;
  user-select: none;
  display: block;
  width: 60%;
  height: 60%;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}

.infographic-line {
  z-index: 7;
  position: absolute;
  width: inherit;
  align-self: center;
  height: max(15pt, 1.5vw);
  transform: translateY(min(max(-25pt, -5vw), -25pt)) scaleX(0.9);
  background-color: #cfe2f3;
}



#example-section {
  background-color: #0b5394;
  display: flex;
  justify-content: center;
}

#example-section-text {
  z-index: 7;
  align-items: center;
  padding-left: 30pt;
  width: inherit;
}

#example-section-wrapper {
  margin-top: 40pt;
  width:55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

#example-text-bold {
  font-weight: bold;
  font-size: max(1.5vw, 20px);
}

#example-graphic-image {
  width: 30vw;
  border-radius: 30px;
  position: absolute;
  z-index: 3;
}

#example-graphic-background {
  z-index: 2;
  background-color:rgb(7, 55, 99);
  width: 70vw;
  min-width: 40vw;
  height: 20vw;
  border-radius: 30px;
  transform: translate(40px,30px);
}

#faq-section {
  background-color: springgreen;
}

/* Shapes */
#shapes {
  z-index: 2;
  position:absolute;
;
}


#diagonal-stripe-1 {
  position: absolute;
  display: block;
  user-select: none;
  background-color: rgb(60, 114, 161);
  pointer-events: none;
  width: 1622px;
  height: 400px;
  transform: translate3d(700px, 1800px, 0px) rotate(45deg) scale(1);
  opacity: 0.3;
}

#diagonal-stripe-2 {
  overflow: hidden;
  position: absolute;
  display: block;
  user-select: none;
  background-color: rgb(159, 197, 232);
  pointer-events: none;
  width: 1654px;
  height: 432px;
  transform: translate3d(-400px, 700px, 0px) rotate(45deg) scale(1);
  opacity: 0.75;
}

@media screen and (max-width: 800px){
  #what-is-bikesub-text {
    align-items: left;
    padding-left: 15px;
  }

  #what-is-bikeshop-wrapper {
    width: 90vw;
  }

  #example-section-text {
    align-items: left;
    padding-left: 15px;
  }

  #example-section-wrapper {
    width: 
    90vw;
  }

  #example-graphic-image {
    width: 80vw;
  }


  
  .header-button {
    display: none;
  }
}


/* #shape-1 {
  display: block;
  flex-shrink: 0;
  user-select: none;
  background-color: rgb(159, 197, 232);
  pointer-events: none;
  width: 1654px;
  height: 432px;
  top: 543px;
  left: -432px;
  overflow: hidden;
  opacity: 0.75;
  transform: translate3d(400px, 1000px, 0px) rotate(45deg) scale(1);
  transform-origin: 50% 50% 0px;
}

#shape-2 {
  display: block;
  flex-shrink: 0;
  user-select: none;
  background-color: rgb(159, 197, 232);
  pointer-events: none;
  width: 1650px;
  height: 432px;
  top: -113px;
  left: 1152px;
  overflow: hidden;
  opacity: 0.5;
  transform: translate3d(1300px, -400px, 0px) rotate(45deg) scale(1);
  transform-origin: 50% 50% 0px;
} */